{block #content}

 <div class="row">

  <div class="col-md-12">
    <h1 n:block="title">{_api.admin.api_calls.default.title}</h1>
    <hr>
  </div>


  <div class="col-md-12">
    {control apiListingControl}
  </div>

 </div>

{/block}
