{block #title}{_api.admin.api_calls.detail.title} - {$apiIdentifier->getUrl()}{/block}

{block #content}

 <div class="row">

  <div class="col-md-12">
      <a n:href="default"><i class="fa fa-angle-left"></i> {_api.admin.api_calls.detail.back}</a>
      {control apiConsole}
  </div>

 </div>

{/block}
