{block #title}Uprav API kľúča {$apiToken->name}{/block}

{block #content}

<div class="row">
  <div class="col-md-12">
    <a n:href="ApiTokensAdmin:default"><i class="fa fa-angle-left"></i> späť na záznamy</a>
    <div class="page-header">
      <h1>
        Úprava API kľúča:
        <small>[{$apiToken->id} - {$apiToken->token}]</small>
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    {control apiTokenForm}
  </div>
</div>