{block #title}Nový API kľúč{/block}

{block #content}

<div class="row">
  <div class="col-md-12">
    <a n:href="ApiTokensAdmin:Default"><i class="fa fa-angle-left"></i> späť na záznamy</a>
    <div class="page-header">
      <h1>
        Nový API kľúč
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    {control apiTokenForm}
  </div>
</div>