{block #title}{_api.admin.access.title}{/block}

{block #content}

    <div class="row">

        <div class="col-md-6">
            <h1>{_api.admin.access.default.calls} <small>{$apiAccess->resource}</small></h1>

            {control apiAccessResourceForm}
        </div>

    </div>

{/block}
