services:
	moduleManager:
		setup:
			- addModule(Crm\ApiModule\ApiModule(), 100)

	- Tomaj\NetteApi\Link\ApiLink
	- Tomaj\NetteApi\Misc\IpDetector
	apiDecider:
		factory: Tomaj\NetteApi\ApiDecider
#		setup:
#			- addApi(\Tomaj\NetteApi\EndpointIdentifier('GET', 1, 'events', 'list'), \Crm\ApplicationModule\Models\Api\EventsListApiHandler(), \Tomaj\NetteApi\Authorization\BearerTokenAuthorization(@apiTokensRepository))
	lazyApiDecider:
		factory: Crm\ApiModule\Models\Api\Lazy\LazyApiDecider

	bearerTokenAuthorization: Tomaj\NetteApi\Authorization\BearerTokenAuthorization(@apiTokensRepository)
	apiTokensRepository: Crm\ApiModule\Repositories\ApiTokensRepository
	apiAccessTokensRepository: Crm\ApiModule\Repositories\ApiAccessTokensRepository
	apiTokenStatsRepository: Crm\ApiModule\Repositories\ApiTokenStatsRepository
	apiLogsRepository:
		factory: Crm\ApiModule\Repositories\ApiLogsRepository
		setup:
			- setNewTableName('api_logs_v2')
			- setNewTableDataMigrationIsRunningFlag(Crm\ApiModule\Commands\MigrateApiLogsCommand::API_LOGS_MIGRATION_RUNNING)
			- setRedisClientFactory(@redisClientFactory)

	apiAccessRepository: Crm\ApiModule\Repositories\ApiAccessRepository
	idempotentKeysRepository: Crm\ApiModule\Repositories\IdempotentKeysRepository
	userSourceAccessesRepository: Crm\ApiModule\Repositories\UserSourceAccessesRepository
	apiTokenMetaRepository: Crm\ApiModule\Repositories\ApiTokenMetaRepository

	apiHeadersConfig:
		factory: Crm\ApiModule\Models\Api\ApiHeadersConfig
		setup:
			- setAllowedOrigins('*')
			- setAllowedHeaders('Content-Type', 'Authorization', 'X-Requested-With')
			- setAllowedHttpMethods('*')

	apiLoggerConfig:
		factory: Crm\ApiModule\Models\Api\ApiLoggerConfig

	apiRunner: Crm\ApiModule\Models\Api\Runner
	- Crm\ApiModule\Api\TokenCheckHandler
	- Crm\ApiModule\Models\Authorization\BearerTokenAuthorization
	- Crm\ApiModule\Models\Authorization\NoAuthorization
	- Crm\ApiModule\Models\Authorization\AdminLoggedAuthorization
	- Crm\ApiModule\Models\Authorization\Permissions
	- Crm\ApiModule\Commands\GenerateAccessCommand
	- Crm\ApiModule\Commands\MigrateApiLogsCommand
	- Crm\ApiModule\Components\ApiListingControl
	- Crm\ApiModule\Forms\ApiTokenFormFactory
	- Crm\ApiModule\Forms\ApiAccessResourceFormFactory
	- Crm\ApiModule\Forms\ApiAccessTokenFormFactory
	- Crm\ApiModule\Forms\ApiTestCallFormFactory
	- Crm\ApiModule\Forms\ApiTokenMetaFormFactory
	apiLogHandler: Crm\ApiModule\Hermes\ApiLogHandler
	- Crm\ApiModule\Models\Router\ApiRoutesContainer
	- Crm\ApiModule\Seeders\ConfigsSeeder
	- Crm\ApiModule\Models\Token\InternalToken
