services:
	moduleManager:
		setup:
			- addModule(Crm\ApiModule\ApiModule(), 100)

	- Tomaj\NetteApi\Link\ApiLink
	- Tomaj\NetteApi\Misc\IpDetector
	apiDecider:
		factory: Tomaj\NetteApi\ApiDecider
#		setup:
#			- addApi(\Tomaj\NetteApi\EndpointIdentifier('GET', 1, 'events', 'list'), \Crm\ApplicationModule\Api\EventsListApiHandler(), \Tomaj\NetteApi\Authorization\BearerTokenAuthorization(@apiTokensRepository))
	lazyApiDecider:
		factory: Crm\ApiModule\Api\LazyApiDecider

	bearerTokenAuthorization: Tomaj\NetteApi\Authorization\BearerTokenAuthorization(@apiTokensRepository)
	apiTokensRepository: Crm\ApiModule\Repository\ApiTokensRepository
	apiAccessTokensRepository: Crm\ApiModule\Repository\ApiAccessTokensRepository
	apiTokenStatsRepository: Crm\ApiModule\Repository\ApiTokenStatsRepository
	apiLogsRepository: Crm\ApiModule\Repository\ApiLogsRepository
	apiAccessRepository: Crm\ApiModule\Repository\ApiAccessRepository
	idempotentKeysRepository: Crm\ApiModule\Repository\IdempotentKeysRepository
	userSourceAccessesRepository: Crm\ApiModule\Repository\UserSourceAccessesRepository
	apiTokenMetaRepository: Crm\ApiModule\Repository\ApiTokenMetaRepository

	apiHeadersConfig:
		factory: Crm\ApiModule\Api\ApiHeadersConfig
		setup:
			- setAllowedOrigins('*')
			- setAllowedHeaders('Content-Type', 'Authorization', 'X-Requested-With')
			- setAllowedHttpMethods('*')

	apiLoggerConfig:
		factory: Crm\ApiModule\Api\ApiLoggerConfig

	apiRunner: Crm\ApiModule\Api\Runner
	- Crm\ApiModule\Api\TokenCheckHandler
	- Crm\ApiModule\Authorization\BearerTokenAuthorization
	- Crm\ApiModule\Authorization\NoAuthorization
	- Crm\ApiModule\Authorization\AdminLoggedAuthorization
	- Crm\ApiModule\Authorization\Permissions
	- Crm\ApiModule\Commands\GenerateAccessCommand
	- Crm\ApiModule\Components\ApiListingControl
	- Crm\ApiModule\Forms\ApiTokenFormFactory
	- Crm\ApiModule\Forms\ApiAccessResourceFormFactory
	- Crm\ApiModule\Forms\ApiAccessTokenFormFactory
	- Crm\ApiModule\Forms\ApiTestCallFormFactory
	- Crm\ApiModule\Forms\ApiTokenMetaFormFactory
	- Crm\ApiModule\Hermes\ApiLogHandler
	- Crm\ApiModule\Router\ApiRoutesContainer
	- Crm\ApiModule\Seeders\ConfigsSeeder
	- Crm\ApiModule\Token\InternalToken
