menu:
	api_tokens: Api klíče
	api_calls: Api volání
	api_logs: Api záznamy
	api_access: API práva
admin:
	access:
		title: API práva
		form:
			update_success: Práva byla aktualizována.
			check_all: Označit vše
			tokens: API klíče
			resources: Zdroje
			save: Uložit
		default:
			resource: Zdroj
			token: API klíč
			allowed_tokens_count: Počet API klíčů
			allowed_resource_count: Počet zdrojů
			calls: API volání
			tokens: API tokeny
			no_api_calls: Nenalezena žádná API volání
			no_api_tokens: Nenalezeny žádné API tokeny
			actions: Akce
			total: Celkem

config:
	category: API
	enable_api_log:
		name: API logy
		description: Povolit ukládání API logů do databáze
	enable_api_stats:
		name: Statistiky API klíčů
		description: Povolit ukládání statistik API klíčů do databáze
	api_user_token_tracking:
		name: Zaznamenat čas posledního přístupu užívatele na API
		description: Povolit ukládání časů posledního přístupu užívatele na API do databáze
	internal_api_token:
		name: Interní API klíč
		description: 'API klíč používán pro interní volání (<a href="/api/api-tokens-admin/">seznam</a>)'
